@import "_var.scss";

body {
  font-size: 15px;
  min-width: 320px;
  position: relative;
  line-height: 22px;
  font-family: "RalewayRegular", sans-serif;
  overflow-x: hidden;
  color: red;
}
.hidden {
  display: none;
}

a,
a:hover,
a:focus,
a:active {
  color: $main-color;
  text-decoration: underline;
}

.headers,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "PFCentroSlabProMedium", sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  color: red;
}
